.a{
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Design For Left side */
.a-left{
    flex: 1;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.a-card{
    width: 60%;
    height: 70vh;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.a-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.a-card.bg{
    top: 50px;
    left: 50px;
    background:#333;
    position: absolute;
}

/* Design For Right side */
.a-right{
    flex: 1;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.a-title{
    font-size: 50px;
}
.a-sub{
    margin: 20px 0px;
}

.a-awards{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.a-award-img{
    height: 120px;
    width: 120px;
    border-radius: 20px;
}
.a-award-texts{
    width: 75%;
}
.a-award-title{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}