.t{
    height: 20px;
    width: 40px;
    border-radius: 20px;
    background-color: #fff;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.t-icon{
    height: 20px;
    width: 20px;
}
.t-button{
    height: 20px;
    width: 20px;
    background-color: #999;
    border-radius: 50%;
    position: absolute;
    /* right: 0; */
    cursor: pointer;
}